.standard-bar {
  width: 100vw;
  height: 700px;
  position: absolute;
  top: 0;

  .overlay {
    height: 100%;
    width: 100%;
    background-color: #C2E8E5;
    opacity: 0.85;
    z-index: 10;
    text-align: center;
    margin-top: -200px;
  }

  .button {
    background-color: #FC615E;
    color: #FFF !important;
    z-index: 100;
    width: 150px;
    margin-top: -200px;
  }

  .header-image {
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;
    max-height: 700px;
    z-index: 1;

    .-show {
      transition: opacity 5s ease-in;
    }

    &.-hidden {
      opacity: 0;
    }
  }

  .title {
    color: #000;
    text-align: center;
  }

  .menu-item {
    color: #48566D;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    top: 0;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
