.home-content {
  background-color: #FFF;
  position: relative;
  top: 700px;
  // max-width: 1196px;

  .description {
    color: #48566D;
    display: block;
    margin-bottom: 50px;

    .external-link {
      color: #48566D;
    }
  }

  .events {
    background-color: #FFF;
    display: block;
    height: auto;

    .event-item {
      margin-left: 10%;
      max-width: 250px;
    }

    .main-event1 {
      background-color: #48566D;
      color: #FFF;
      height: 200px;
    }

    .main-event2 {
      background-color: #F7F6F0;
      color: #48566D;
      height: 200px;
      margin-left: 60%;
      margin-top: 60px;
    }

    .main-event3 {
      color: #48566D;
      background-color: #C3E8E5;
      height: 200px;
      margin-left: 40%;
      margin-top: -90px;
    }
  }

  .our-story {
    background-color: #C3E8E5;
    color: #48566D;
    display: block;
    margin-top: 50px;
  }

  .existing-chapters {
    background-color: #48566D;
    color: #FFF;

    .-description {
      max-width: 50%;
    }

    .chapter1,
    .chapter2 {
      background-color: #F7F6F0;
      color: #48566D;
      height: 200px;
      margin-right: 20px;
      margin-top: -30px;
      width: 200px;
    }
  }
}
