.home-content {
  background-color: #FFF;
  position: relative;
  top: 700px;
  display: block;
  // max-width: 1196px;

  .description {
    color: #48566D;
    margin-bottom: 50px;

    p:first-child {
      width: 80%;
    }

    .external-link {
      color: #48566D;
    }
  }

  .events {
    background-color: #FFF;
    display: block;
    height: auto;

    .event-item {
      [class*='theme--cardMedia--'] {
        height: 100%;
        z-index: 1;
      }

      a {
        position: relative;
        right: 10px;
        text-align: right;
        top: -5px;
        z-index: 2;
        text-decoration: none;
      }
    }

    .main-event1 {
      background-color: #48566D;
      height: 200px;
      max-width: 300px;
      width: 50%;

      a {
        color: #FFF;
        top: -2px;
      }
    }

    .main-event2 {
      background-color: #F7F6F0;
      height: 200px;
      margin-left: 5px;
      margin-top: 90px;
      width: 30%;
      max-width: 300px;

      a {
        color: #FC615E;
        top: -2px;
      }
    }

    .main-event3 {
      background-color: #C3E8E5;
      height: 200px;
      margin-left: 30%;
      margin-top: -60px;
      max-width: 250px;
      position: relative;
      width: 30%;

      a {
        color: #48566D;
        top: -2px;
      }
    }
  }

  .our-story {
    background-color: #C3E8E5;
    color: #48566D;
    margin-top: 50px;
    padding-left: 20px;
    width: calc(100% - 20px);
    padding-bottom: 50px;

    h5 {
      display: inline-block;
      margin-bottom: 0;
      text-align: left;
      width: 80%;
    }
  }

  .existing-chapters {
    background-color: #48566D;
    color: #FFF;

    .-description {
      margin-left: 20px;
      margin-right: 20px;
      display: block;
      width: 40%;
      max-width: 400px;
      margin-bottom: 50px;
    }

    [class*='theme--cardMedia--'] {
      height: 100%;
      z-index: 1;
    }

    .chapter1,
    .chapter2 {
      background-color: #F7F6F0;
      color: #48566D;
      height: 200px;
      margin-right: 20px;
      margin-top: -40px;
      margin-bottom: 20px;
      width: 200px;

      a {
        color: #FC615E;
        position: relative;
        right: 20px;
        text-align: right;
        top: -10px;
        z-index: 2;
        text-decoration: none;
      }
    }
  }
}
