
body {
  margin-top: 0;
  margin-left: 0;
  font-family: stolzl, sans-serif !important;
  font-style: normal;
  font-weight: 100;
}

.layout {
  &.-disable {
    opacity: 0.5;
    pointer-events: none;
  }

  .appBar {
    background: transparent;
    height: 0;
  }

  .layout-content {
    opacity: 1;
    position: relative;
    height: 100vh;
    transition: opacity 0.5s ease;
    width: 100vw;

    &.-disable {
      opacity: 0.2;
      pointer-events: none;
      transition: opacity 0.5s ease;
    }

    .main-container {
      height: 100%;
      opacity: 1;
      width: 100vw;
      transform: translateZ(0);
      transition: all 0.5s ease;

      &.-disable {
        opacity: 0.4;
        pointer-events: none;
        transition: opacity 0.1s ease;
      }

      &.-close {
        overflow: hidden;
        height: 0;
      }

      > main {
        background-color: #FFF;
        width: 100%;
      }
    }

    .-bottom-sheet {
      position: absolute;
      z-index: 100;
      height: 100%;
    }
  }
}
